<?xml version="1.0"?>
<config>
    <modules>
        <Maho_Ignition>
            <version>1.0.0</version>
        </Maho_Ignition>
    </modules>
    <global>
        <helpers>
            <maho_ignition>
                <class>Maho_Ignition_Helper</class>
            </maho_ignition>
        </helpers>
        <models>
            <maho_ignition>
                <class>Maho_Ignition_Model</class>
            </maho_ignition>
        </models>
        </global>
    <frontend>
        <routers>
            <ignition>
                <use>ignition_router</use>
                <args>
                    <module>Maho_Ignition</module>
                    <frontName>_ignition</frontName>
                </args>
            </ignition>
        </routers>
	</frontend>
    <default>
        <dev>
            <maho_ignition>
                <enabled>1</enabled>
                <editor>clipboard</editor>
                <theme>auto</theme>
            </maho_ignition>
        </dev>
    </default>
</config>
